.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-name{
    margin-left: 7%;
    margin-top: 10%;
}

.nav-name:hover {
  cursor: default;
}
